@model WeatherData;

@{
    ViewData["Title"] = "Forecast";
}

<main id="right-side" onload="refresh()">
    <div id="weather">
        <p id="region-label">@Html.DisplayFor(m => m.Name)</p>

        <br>
        
        <div id="temp">
            <h1>@Html.DisplayFor(m => m.Temp)</h1>
            <p>°C</p>
        </div>

        <br>
        
        <p>@Html.DisplayFor(m => m.Description)</p>

    </div>

    <div id="detail" class="container">
        <div class="row justify-content-center">
            <div id="detail-label" class="col-4">
                <p>Pressure</p>
                <h4>@Html.DisplayFor(m => m.Pressure)mbar</h4>
            </div>
            <div id="detail-label" class="col-4">
                <p>Humidity</p>
                <h4>@Html.DisplayFor(m => m.Humidity)%</h4>
            </div>
        </div>

        <div class="row justify-content-center">
            <div id="detail-label" class="col-4">
                <p>Wind Speed</p>
                <h4>@Html.DisplayFor(m => m.WindSpeed)km/h</h4>
            </div>
            <div id="detail-label" class="col-4">
                <p>UVI</p>
                <h4>@Html.DisplayFor(m => m.UVI)</h4>
            </div>
        </div>
    </div>
</main>